.Pin {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid black;
  align-items: center;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.Pin--fallen {
  background-color: blue;
  color: white;
}
