.App {
  background-color: rgba(57, 65, 123, 0.18);
  padding: 50px;
}

.App__row {
  display: flex;
  justify-content: center;
}

.App__score {
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
